@import "tailwindcss";

@source "./app/views/**/*.html.erb";
@source "./app/helpers/**/*.rb";
@source "./app/javascript/**/*.js";
@source "./app/assets/stylesheets/**/*.css";
@source not "./daisyui{,*}.mjs";


@plugin "./daisyui.mjs";

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */

@plugin "daisyui/theme" {
  name: "tsukimeguru-dark";
  default: true;
  color-scheme: "dark";
  --color-primary: #FDE68A;
  --color-primary-content: #1A1A1A;
  --color-secondary: #93C5FD;
  --color-secondary-content: #1A1A1A;
  --color-accent: #FCD34D;
  --color-accent-content: #1A1A1A;
  --color-info: #60A5FA;
  --color-info-content: #1A1A1A;
  --color-error: #F87171;
  --color-error-content: #1A1A1A;
  --color-warning: #FACC15;
  --color-warning-content: #1A1A1A;
  --color-success: #34D399;
  --color-success-content: #1A1A1A;
  --color-base-100: #0F172A;
  --color-base-200: #1E293B;
  --color-base-300: #334155;
  --color-base-content: #E2E8F0;
  --color-neutral: #1E1B2E;
  --color-neutral-content: #E2E8F0;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

