@import "tailwindcss" source(none);
@source "../../views/**/*.html.erb";
@source "../../helpers/**/*.rb";
@source "../../javascript/**/*.js";
@source not "./daisyui{,*}.mjs";


@plugin "./daisyui.mjs";

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */

@plugin "daisyui/theme" {
  name: "tsukimeguru-dark";
  default: true;
  color-scheme: "dark";
  --color-base-100: #1c1b2f;
  --color-base-200: #2a274e;
  --color-base-content: #f4ecd8; /* 柔らかい生成り */
  --color-primary: #f6b87e; /* 月の橙光 */
  --color-primary-content: #2b2020;
  --color-secondary: #e2c4a8;
  --color-accent: #b19dd5;  /* 月夜の薄紫 */
  --color-neutral: #3a3548;
  --color-info: #a6c8ec;
  --color-success: #b8d7b0;
  --color-warning: #f0e68c;
  --color-error: #f79e9d;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

