<section class="space-y-8">
  <%# <%= render "moon_phase_card", moon_phase: @moon_phase %> %>

  <%# <% if @moon_phase.name == "新月" || @moon_phase.name == "満月" %> %>
  <%#   <%= render "moon_note_prompt", moon_phase: @moon_phase %> %>
  <%# <% end %> %>

  <%= render "dashboard/daily_note_form", daily_note: @daily_note %>
</Section>
