<div class="container mx-auto px-4 py-10 max-w-lg">
	<div class="text-center space-y-3">
		<h1 class="text-3xl font-display tracking-widest">本当に退会しますか？</h1>
		<p class="text-base text-base-content">退会すると<%= @user.name %>さんのすべての記録が完全に消去されます</p>
	</div>

	<div class="flex justify-center items-center gap-4 mt-8">
		<%= button_to "退会する", confirm_destroy_users_path, data: { turbo: false }, class:"btn btn-error" %>
		<%= link_to "キャンセル", mypage_path, class:"btn btn-primary btn-outline" %>
	</div>
</div>
